h1 {
  border-bottom: 1px solid rgb(0, 174, 255);
  width: 80%;
}

.bg-gray {
  background-color: gray;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}

.solid {
  border: 2px solid black !important;
}

.dotted {
  border: 2px dotted black !important;
}

.skinny {
  border: 1px solid black !important;
}

.border_top_skinny {
  border-top: 1px solid red !important;
}

.border_top_normal {
  border-top: 3px solid red !important;
}

.border_top_bold {
  border-top: 5px solid red !important;
}

.colorStyle {
  display: flex;
  align-items: center;
}

.border {
  height: 25px;
  width: 35px;
}

.btn {
  height: 35px;
  width: 45px;
}

.radius {
  border-radius: 5px;
}

#result_effect {
  height: 250px;
  width: 400px;
  border: 1px solid black;
  margin-top: 50px;
}

button {
  margin-right: 5px;
  border: none;
}
